@import "../node_modules/vue2-animate/src/less/vue2-animate.less";

.fade-enter, .fade-leave-to {
  position: fixed;
  width: 100%;
}

body, html {
  overflow: hidden !important;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden !important;
}

#pages {
  padding-top: 100px;
  margin: 0 auto;
  overflow: hidden !important;

  .step {
    max-height: calc(100vh - 100px);
    overflow: auto;
  }
}

#nav {

  display: flex;
  justify-content: space-around;
  padding: 20px 0 30px 0;
  position: fixed;
  width: 100%;
  top: 0;
  background: #ffffff;

  a {
    display: flex;
    position: relative;
    width: 32px;
    height: 32px;
    border: 3px solid red;
    background: white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    z-index: 11;
    text-decoration: none;
    color: red;

    span {
      position: relative;
      top: 30px;
    }

    &:after {
      position: absolute;
      width: 25vw;
      height: 4px;
      background-color: rgba(255,0,0,0.2);
      pointer-events: none;
      content: " ";
      left: 100%;
      z-index: 9;
    }

    &:last-child {
      &:after {
        width: 0;
      }
    }

    &.done {
      &:before {
        content: "✔";
        position: absolute;
      }
      &:after {
        background-color: rgba(255,0,0,1);
      }
    }

    &.router-link-exact-active {
     // background-color: #42b983;
      &:before {
        width: 20px;
        min-height: 20px;
        background: red;
        content: " ";
        position: absolute;
        border-radius: 100%;
        z-index: 10;
      }
    }
  }
}
